@media only screen and (max-width: 600px){
    .hero .page-title{
        font-size: 35px;
    }
    .menu-item .menu-link{
        font-size: 17px;
    }

    .list-item .menu-link{
        font-size: 15px;
    }

    .container .inner{
        height: unset;
    }
}